<strong><a href="/">Home</a></strong>
<br />
<h2>Guest List</h2>
<hr />
<p>Guest details will be appeared here...</p>

<table border="2">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Contact Number</th>
      <th><button routerLink="/guests/add">Add New Guest</button></th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngIf="guests.length > 0">
      <tr *ngFor="let guest of guests">
        <th>{{ guest.id }}</th>
        <th>{{ guest.name | uppercase }}</th>
        <th>{{ guest.contactNumber }}</th>
        <th>
          <button routerLink="/guests/update/{{guest.id}}">Edit</button> |
          <button (click)="deleteGuest(guest.id)">Delete</button>
        </th>
      </tr>
    </ng-container>
    <ng-container *ngIf="guests.length === 0">
      <tr>
        <td>
          No Guests Records are there as of Now, Please add some Records by
          Clicking Add New Guest Button
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
